Fullscreen Dark Green Menu
.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #173d2d;
    /* Dark Green */
    z-index: 999;
}

/* Menu Links */
.menu-link {
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight: 400;
    position: relative;
    transition: 0.3s;
}

.menu-link:hover {
    opacity: 0.7;
}

.menu-link.active::after {
    content: "";
    width: 40px;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
}

/* Social Icons */
.social-icon {
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.social-icon:hover {
    opacity: 0.7;
}